<h1>Toppings</h1>
<% toppings_frame_id = dom_id(order, "toppings") %>
<%= turbo_frame_tag toppings_frame_id, data: { turbo_frame: toppings_frame_id } do %>
  <% Order::TOPPINGS.each do |topping| %>
    <br />
    <%= form.check_box :toppings, {multiple: true}, topping, false %>
    <%= form.label topping %>
  <% end %>
  <%= form.submit "Continue Order" %>
<% end %>
