<h1>Review Order</h1>

<%= render partial: "order", locals: { order: order } %>

<h1>AMOUNT DUE</h1>
<p>10,0000 bitcoin</p>

<%= link_to "Complete Order", complete_order_path, class: "bg-green-400 border-stone-500" %>

