<h1>Kitchen</h1>
<br />

<%= turbo_stream_from "orders" %>

<div id="orders">
  <% @orders.each_with_index do |order, index| %>
    <%= render partial: "order_for_separate_form", locals: { index: index, order: order }  %>
  <% end %>
</div>
